.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: #999;
}

.contributor,
.unassigned,
.avatar {
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.contributor,
.unassigned {
  height: 21px;
  width: 21px;
  background-color: #eee;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 11px;
  padding-top: 4px;
}

.contributor {
  color: red;
}

.unassigned {
  color: #666;
}

.modal-body img {
  max-width: 100%;
}

.gh-labels .label {
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin: 0 5px 10px 0;
  padding: 8px 10px 10px;
}

.gh-labels .label .glyphicon-tag {
  font-size: 10px;
}

.help {
  color: #777;
  font-style: italic;
  font-size: 12px;
  margin: 5px 0;
}

.issue-title {
  width: 50%;
}

.issue-state .label {
  box-sizing: content-box;
  display: inline-block;
  min-width: 7em;
  padding: 5px;
  text-align: center;
  font-weight: normal;
}

[for=repoMilestoneSrc] {
  color: #777;
  font-weight: normal;
  font-style: italic;
}

.size span {
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding-top: 3px;
  display: inline-block;
  position: absolute;
  height: 24px;
  width: 30px;
  background: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Ctitle%3E%0A%20%20%20%20t-shirt%0A%20%20%3C%2Ftitle%3E%0A%20%20%3Cpath%20d%3D%22M5.027%2014.167c0-3.213-.007-5.85-.016-5.86-.01-.01-.053%200-.093.02-.072.034-.164.075-.3.132-.033.013-.13.06-.218.097-.09.04-.17.074-.18.074-.013%200-.05.015-.088.034-.06.03-.13.062-.288.13-.033.013-.13.06-.218.097-.09.04-.17.075-.18.075-.012%200-.05.014-.087.033-.062.03-.13.062-.29.13-.032.013-.13.06-.218.097-.09.04-.168.074-.18.074-.012%200-.054.018-.1.04-.04.02-.097.05-.12.06-.036.018-.054.013-.078-.02-.016-.024-.03-.057-.03-.074%200-.017-.01-.05-.024-.074-.01-.022-.044-.093-.07-.16-.028-.064-.06-.145-.075-.18l-.054-.13c-.04-.095-.067-.167-.128-.31-.028-.064-.06-.146-.075-.18-.012-.032-.037-.09-.054-.13-.016-.038-.424-1.016-.902-2.17C.48%204.816.07%203.828.046%203.778.02%203.726%200%203.676%200%203.67c0-.01.045-.036.1-.06.055-.024.155-.067.223-.098.068-.03.13-.057.136-.057.006%200%20.06-.022.12-.05l.165-.072.106-.043c.03-.014.106-.045.17-.074l.31-.133c.043-.017.11-.048.154-.067.04-.017.117-.05.168-.074.052-.022.115-.048.14-.06.027-.012.137-.06.247-.102.11-.046.262-.112.34-.148.125-.057.19-.086.35-.155%201.49-.642%202.173-.928%202.208-.916-.004-.02.596-.29%201.746-.786.968-.418%201.78-.766%201.8-.77.03-.008.064.04.14.2.12.26.233.443.34.565.027.028.05.06.052.073.012.055.333.41.51.57.332.293.547.432%201.033.66.153.072.425.156.75.23.268.062%201.112.062%201.38%200%20.51-.115.735-.2%201.232-.473.133-.07%201.092-1.03%201.228-1.226.054-.078.145-.238.202-.357.056-.117.11-.227.12-.24.016-.02.102.008.297.094.15.07%202.064.898%204.25%201.842%202.085.9%203.41%201.485%203.98%201.758l-.284.66c-.026.062-.046.104-.058.128-.02.038-.033.076-.033.088%200%20.012-.033.093-.073.184-.07.157-.117.27-.166.388-.012.034-.038.09-.056.127-.02.038-.033.076-.033.088%200%20.012-.033.093-.073.184-.084.19-.13.305-.218.52-.016.04-.044.11-.065.155-.077.18-.103.24-.21.5-.075.184-.096.234-.127.294-.02.038-.033.076-.033.088%200%20.012-.032.093-.072.184l-.096.222c-.066.162-.097.23-.127.293-.02.038-.033.076-.033.088%200%20.013-.033.094-.072.185-.07.157-.118.27-.167.39-.012.032-.037.09-.056.125-.02.038-.033.077-.033.09%200%20.01-.033.092-.073.182l-.104.246-.056.124c-.014.024-.024.057-.024.074%200%20.017-.014.05-.03.074-.028.04-.038.038-.17-.022l-.362-.16c-.033-.01-.09-.038-.124-.057-.038-.018-.075-.032-.087-.032-.012%200-.092-.034-.18-.074-.155-.072-.685-.293-.774-.334l-.242-.107c-.045-.022-.106-.048-.136-.065-.033-.016-.196-.09-.488-.22l.014.62v2.987c0%202.288.007%202.99.028%202.99.014%200%20.052-.025.082-.053.1-.093.09-.02-.01.083l-.1.103v4.948H12.1c-3.838%200-7%20.007-7.026.014-.047.01-.047%200-.047-5.833z%22%20fill-rule%3D%22nonzero%22%20fill%3D%22%236D6D6D%22%2F%3E%0A%3C%2Fsvg%3E%0A')
  no-repeat 50% 50%;
  background-size: cover;
}

