.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: #999;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.modal-body img {
  max-width: 100%;
}

.gh-labels .label {
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin: 0 5px 10px 0;
  padding: 8px 10px 10px;
}

.gh-labels .label .glyphicon-tag {
  font-size: 10px;
}

.help {
  color: #666;
  font-style: italic;
  font-size: 12px;
  margin: 5px 0;
}

.issue-title {
  width: 50%;
}
